@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro:ital@1&display=swap');
:root{
     --main-font: 'Montserrat', sans-serif;
}
* {
    margin:0;
    padding:0;
    color: #212b36;
    font-family: var(--main-font);
}
* h1{
    color: rgb(107, 92, 92);
}
.row{
    display: flex;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}
/*==============================================================header============================================*/
.header-content {
    justify-content: space-between;
    align-items: center;
}
.header-content-logo{
    width: 10%;
}
.header-content-logo img{
    width: 70px;
}
.header-content-nav {
   width: 50%;

}
a{
    text-decoration: none;
}
ul{
 list-style: none;
}
.header-content-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content-nav ul li{
    margin-right: 12px;
}
.header-content-nav ul li:hover a {
  color: rgb(241, 118, 97);
}
.header-content-nav ul li a{
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3 ease;
}
.header-content-search {
    width: 30%;
}
.header-content-search input {
    border: none;
    outline: none;
    border-bottom: 1px solid #c2bdbd;
}
.header-content-search  i{
    cursor: pointer;
}
.header-content-icon {
    width: 15%;
}
.header-content-icon img{
    width: 25px;
    margin-left: 6px;
    cursor: pointer;
}
header{
    position: fixed;
    height: 80px;
    z-index: 1000;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
}
.slider{
    margin-top: 80px;
}
/*------------------------------------------------------------------------slider---------------------------------------------------*/
.slider-content-item{
    height: 87vh;
    width: 100vw;
   background-color: #212b36;
    overflow: hidden;
    display: none;
}
.slider-content-item.active {
    display: flex;
}
.slider-content-item-left {
    width: 50%;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.slider-content-item-text h1 {
   font-size: 32px;
   
}
.slider-content-item-left-text {
    animation: textani 1s linear;
}
@keyframes textani {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.slider-content-item-right img {
    animation: imgani 1s linear;
}
@keyframes timgani {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.slider-content-item-left-text> p {
    margin: 20px 0;
    color: white;
}
.slider-content-item-left-text> i{
    color: gold;
}
.slider-content-item-left-text button{
    display: block;
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 12px;
    border:none;
    background-color: orangered;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.slider-content-item-left-text button:hover{
    background-color: tomato;
}
.slider-content-item-left-text button i,p{
    color: white;
}
.slider-content-item-text button i{
    margin-left: 12px;
}
.slider-content-item-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-content-item-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-content{
    position: relative;
    overflow: hidden;
}
.slider-content-pre-next{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    
}
.slider-content-pre-next i{
    font-size: 32px;
    cursor: pointer;
    color: tomato;
}
/*========================================carteryy===========================================*/
.cartegory{
    margin-top: 30px;
}
.cartegory-content{
    justify-content: space-between;
}
.cartegory-item{
    width: 32%;
    height: 300px;
    position: relative;
    box-shadow: 5px 5px 10px rgb(0, 0, 0.5);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.cartegory-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.cartegory-item:first-child:hover h2{
    background-color: #AE8F61;

}
.cartegory-item:nth-child(2):hover h2{
    background-color: #878487;

}
.cartegory-item:nth-child(3):hover h2{
    background-color: #D6DDE3;

}

.cartegory-item h2{
    position: absolute;
    height: 30px;
    width: 50%;
    background-color: rgb(196, 190, 190);
    text-align: center;
    border: 2px solid #212b36;
    transition: all 0.3s ease;
}
/*=====================================================================PRODUCT==========================================================================================*/


.title_h1{
    text-align: center;
    margin: 20px 0 30px;
    position: relative;
}
.title_h1::after{
    position: absolute;
    content: "";
    display: block;
    height: 5px;
    width: 130px;
    background-color: tomato;
    left: 50%;
    transform: translateX(-50%);
    border-radius:  5px;
}
.title_h2 {
    background-color: #212b36;
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 6px;
}
/*.owl-nav {
    position: absolute;
    width: 100%;
    display:  flex;
    justify-content: space-between;
    top :50%;
    transform:  translateY(-50%);
}*/
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.owl-prev, .owl-next:hover{
    background-color: transparent!important;
}
.owl-prev{
    left: 0;
}
.owl-next{
    right: 0;
}
.owl-nav button span{
  font-size: 50px;
  
}
.owl-dot span{
    
  background-color: #212b36! important;
}
.owl-dot.active span{
    background-color: tomato! important;
}
.product-content-item {
    position: relative;

}
.product-content-item:hover .product-content-item-text{
    width: 100%;
    height: 100%;

}
.product-content-item-text{
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(75, 63, 63, .5);
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    transition: all 0.1s ease;
}
.product-content-item-text h1{
    color: tomato;

}
.product-content-item-text p{
    color: white;
   font-weight:  bold;
   font-size: 30px;
   
}
.product-content-item-text sup {
    color: white;
}
.product-content-item-text button {
    height: 30px;
    padding: 0 10px;
    background-color: tomato;
    border: none;
    color: white;
    border-radius: 20px;

}
.product-content-item-text i{
    color: rgb(41, 36, 36);
    font-size: 20px;
    margin-right: 12px;
    cursor: pointer;
}
.product-items{
    margin-bottom: 50px;
}
.product-content-item img{
    width: 400px;
    height: 400px;
}
/*=====================================blogs======================================*/
.blogs-content {
    justify-content: space-between;
    height: 400px;
}
.blogs-content-item{
    width: 30%;
    height: 300px;
}
.blogs-content-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------------------------------------------------ăn trộm -----------------------------------------*/
.new {
    height: 200px;
}
.newsletter{
    background-image: url(../img/pexels-photo-5864245.jpeg);
    background-size: cover;
    background-position:center;
    height: 300px;
    position: relative;
}
.newsletter_filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#33333370 ;
}
.action_call{
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    font-family: champagne;
    letter-spacing: 2px;
}
.action_call h2{
    margin: 20px 0px;
    color: white;
}
.action_call input{
    width: 300px;
    padding: 10px;
    background-color:#eee ;
    border: none;
    border-radius: 5px;
    z-index: l;
}
.action_call button{
    width: 130px;
    padding: 10px;
    border:2px solid #fff ;
    border-radius: 5px;
    background-color:transparent ;
    color: #fff;
}
.action_call button:hover{
    cursor: pointer;
    background-color:rgb(238, 101, 77) ;
    transition: all 0.3s ease-in-out;
}
/*----------------------------------------------footer---------------------------------------*/
footer{
    background-color: #e4e4e4;
    margin-top: 100px;
    padding: 50px 0 10px;
}
footer p{
    color: #333;
}
.footer-content{
justify-content: space-between;
}
.footer-content h3{
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.footer-content p{
    margin-bottom: 6px;
}
.footer-content-social{
    text-align: center;
    padding: 50px 100px 20px;
}
.footer-content-social i{
    font-size: 20px;
    margin-right: 12xp;
    cursor: pointer;
}
.footer-copyright{
    text-align: center;
}
.footer-copyright img{
    width: 150px;
  
}
.footer-img img{
    width: 140px;
}
.footer-img{
    text-align: center;
}
